<script lang="ts">
	import { computed, defineComponent, PropType, reactive } from 'vue';
	import { Character } from '../api/types/mavel.model';
	export default defineComponent({
		name: 'marvel-character',
		props: {
			character: Object as PropType<Character | undefined>,
		},
		methods: {
			formatImageUrl(character: Character) {
				return `${character.thumbnail?.path}.${character.thumbnail?.extension}`;
			},
		},
		setup(props) {
			const { character } = reactive(props);
			return {
				marvelCharacter: computed(() => character),
			};
		},
	});
</script>

<template>
	<el-card shadow="hover">
		<el-image
			style="width: 15em; height: 17em"
			:src="formatImageUrl(character)"
			:key="character.id"
		>
		</el-image>
		<el-descriptions :title="character.name.slice(0, 23)">
			<el-descriptions-item label="comics">{{
				character.comics.items.length
			}}</el-descriptions-item>
			<el-descriptions-item label="series">{{
				character.series.items.length
			}}</el-descriptions-item>
			<el-descriptions-item label="stories">{{
				character.stories.items.length
			}}</el-descriptions-item>
			>
		</el-descriptions>
	</el-card>
</template>

<style scoped>
	.el-card {
		--el-card-padding: 0.5em;
		--el-card-background-color: #fcfcfc;
		box-shadow: 8px 8px 19px #d4d4d4, -8px -8px 19px #ffffff;
		cursor: pointer;
	}

	.el-descriptions {
		--el-descriptions-title-font-size: 1.5em;
	}
</style>
