<script lang="ts">
	import { computed, defineComponent, onMounted } from 'vue';
	import MarvelCharacter from './components/marvel-character.vue';
	import { useStore } from './store';

	export default defineComponent({
		components: { MarvelCharacter },
		setup() {
			const store = useStore();
			const setPage = async (page: number | string) => {
				const offset =
					typeof page === 'number'
						? (page - 1) * 20
						: (parseInt(page) - 1) * 20;
				await store.dispatch('setCurrentPage', page);
				await store.dispatch('setState', offset);
			};
			onMounted(async () => {
        document.title = "Marvel Heroes"
        await store.dispatch('setState', store.state.currentPage);
			});
			return {
				setPage,
				currentPage: computed(() => store.state.currentPage),
				characters: computed(() => store.state.characters),
				collectionSize: computed(() => store.state.collectionSize),
			};
		},
  });
</script>

<template>
	<div class="characters">
		<div class="container" v-for="character in characters">
			<marvel-character :character="character" />
		</div>
	</div>
	<el-pagination
		style="margin-top: 60px"
		background
		layout="prev, pager, next"
		v-model:current-page="currentPage"
		@current-change="setPage"
		:page-size="20"
		:total="collectionSize"
	/>
</template>

<style>
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
    text-align: center;
		color: #2c3e50;
	}

	.container {
		display: inline-flex;
		margin: 0.2% 0.2%;
		padding: 0.2em 0.2em;
	}
</style>
